<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="item"
		class="com.irfan.spring.springcore.assignment1.Item" p:id="111"
		p:name="soap" p:price="50" p:quantity="2" />

	<bean name="shoppingcart"
		class="com.irfan.spring.springcore.assignment1.ShoppingCart">
		<property name="items">
			<ref bean="item" />
		</property>
	</bean>


</beans>